* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
  padding: 40px 0;
  width:100%;  
}

.navLink:hover {
color: #ff9907;
}
.homeNavLink {
  color: #ff9907;
}
nav {
  width: 25%;
}
nav ul  {
  font-family: 'Lora', serif;
  list-style-type: none;
  display: flex;
  justify-content: space-between; 
}
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #3a414e;
  font-size: 15px;
  padding:15px;
}
.social-media-containers{
  width: 100px;
  margin-right: 83px;
  display: block;
}
.icons {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size :15px;
  color: #222222;
  padding: 10px;
}

