* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
  padding: 30px 0;
  width:100%;  
}
.navLink:hover {
color: #ff9907;
}
.homeNavLink {
  color: #ff9907;
}
nav {
  width: 25%;
}
nav ul  {
  font-family: 'Lora', serif;
  list-style-type: none;
  display: flex;
  justify-content: space-between; 
}
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #3a414e;
  font-size: 15px;
  padding:15px;
}
.social-media-containers{
  width: 100px;
  margin-right: 20px;
  display: block;
}
.icons {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size :15px;
  color: #222222;
  padding: 10px;
}
.welcoming-container {
  position: relative;
  }
  .first-picture {  
    max-width: 100%;
    height: auto;
    padding: 75px 120px;
    filter: brightness(80%);   
  }
  .content {
    position: absolute;
    color: white; 
    text-align: center;
    top: 50%;
    left :50%;
    transform: translate(-50%, -50%);
    font-family : 'Lora',serif;
  }
  .s1 {
    font-size: 27px;
  }
  .s2{
    font-size: 35px;
  }
 .s3{
   font-size: 18px;
 }
 .toggle-button  {
  position: absolute;
   color: white;
   background-color: black;
   height: 20px;
   font-weight: 100%;
   top:.80rem;
   right:1rem;
   display:none;
 }
 @media (max-width: 480px) {
   header {
     background-color:black;
     height:20px;
   }
   .toggle-button {
     display: inline-block;
   }
   nav ul li,
   .icons  {
     display: none;
   }
   .first-picture {
     padding: 20px;
     padding-top:100px;
     position: relative ;
     height: 70vh;
   }
   .s1 ,
   .s3 {
     font-size : 18px;
   }
   .s2 {
     font-size :20px;
   }
 }
 @media (min-width: 481px) and (max-width:767px) {
   .toggle-button {
     display: inline-block;
   }
   nav ul li {
     display : none;
   }
   .icons {
    display:none;
   }
   header {
     background-color: black;
     height: 90px;
   }
   .logo {
     padding: 0;
   }
   .first-picture {
    padding-right: 30px;
    padding-left: 30px;
    padding-top : 100px;
    height: 70vh;
     }
   .s1 {
     font-size: 15px;
   }
   .s2 {
     font-size: 18px;

   }
   .s3 {
     font-size : 13px;
   }  
 }
 @media (min-width:768px) and (max-width:1024px) {
   .welcoming-container {
    display: flex;
    justify-content: center;
  }
  .first-picture {
    padding: 100px 90px;
  }
  .s1,
  .s3 {
    font-size: 15px;
  }
  .s2 {
    font-size: 18px;
  }
  .toggle-button {
    display: inline-block; 
  }
  nav ul li {
    display : none;
  }
  .icons {
   display:none;
  }
  header {
    background-color: black;
    height: 15px;
  }
 }

